@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);

#contacts2-36 UL {
  color: #f1c050;
}
#dropdown-menu-38 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-38 .nav .link,
#dropdown-menu-38 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-38 .navbar,
#dropdown-menu-38 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-38 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-38 .dropdown-menu a:hover,
#dropdown-menu-38 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-38 .navbar-toggler {
  color: #000000;
}

#contacts2-39 UL {
  color: #f1c050;
}
#dropdown-menu-3b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3b .nav .link,
#dropdown-menu-3b .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-3b .navbar,
#dropdown-menu-3b .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-3b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3b .dropdown-menu a:hover,
#dropdown-menu-3b .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-3b .navbar-toggler {
  color: #000000;
}

















#msg-box4-3 .lead H1 {
  color: #e3d6ab;
}
#msg-box4-3 .mbr-section-title {
  color: #e3d6ab;
  font-family: 'Raleway', sans-serif;
  font-size: 46px;
}
#msg-box4-3 .lead P {
  color: #e3d6ab;
  font-family: 'Raleway', sans-serif;
}
#msg-box4-3 .lead {
  color: #e3d6ab;
}
#content5-33 P {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#content5-33 .mbr-section-title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}
#msg-box2-35 H2 {
  color: #fbf2be;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
#features1-4 H4 {
  color: #000000;
  font-family: 'Raleway', sans-serif;
}
#features1-4 P {
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #8d6c1e;
}
#features1-4 SPAN {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#features1-4 .btn {
  font-family: 'Oswald', sans-serif;
}
#features1-16 H4 {
  font-size: 20px;
}
#msg-box5-32 .mbr-section-title {
  font-family: 'Raleway', sans-serif;
}
#testimonials1-d .card-footer > div {
  color: #caa52b;
}
#testimonials1-d .mbr-section-title {
  font-family: 'Raleway', sans-serif;
}
#form1-h .mbr-section-title {
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
}
#form1-h .btn {
  font-family: 'Raleway', sans-serif;
}
#features1-x H4 {
  font-size: 24px;
  color: #1d180e;
  font-family: 'Playfair Display', sans-serif;
}
#msg-box2-14 H2 {
  color: #1d180e;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-align: left;
}
#msg-box2-14 .btn {
  font-family: 'Raleway', sans-serif;
}
#contacts2-k UL {
  color: #f1c050;
}
#dropdown-menu-2v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2v .nav .link,
#dropdown-menu-2v .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2v .navbar,
#dropdown-menu-2v .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2v .dropdown-menu a:hover,
#dropdown-menu-2v .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2v .navbar-toggler {
  color: #000000;
}

#contacts2-3c UL {
  color: #f1c050;
}
#dropdown-menu-3e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3e .nav .link,
#dropdown-menu-3e .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-3e .navbar,
#dropdown-menu-3e .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-3e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3e .dropdown-menu a:hover,
#dropdown-menu-3e .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-3e .navbar-toggler {
  color: #000000;
}
